.menu {
  list-style: none;
  display: flex;
  padding-bottom: 18px;
  border-bottom: solid lightgray;
  margin-bottom: 0;
}
.link {
  padding: 9px 15px;
  text-decoration: none;
  color: #000;
  font-size: 28px;
  font-weight: bold;
}

.link:global(.active) {
  color: dimgray;
  border-bottom: 4px solid dimgray;
}
