.item {
  display: flex;
  font-weight: normal;
  text-decoration: none;
  color: #000;
  font-size: 38px;
}

.list {
  list-style: none;
}

.movie {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
}

.error {
  color: red;
}
