.reviewsContainer {
  padding: 20px 60px;
  flex-direction: column;
}

.reviewAuthor {
  font-size: 34px;
  font-weight: bold;
}

.reviewContent {
  font-size: 24px;
  margin-bottom: 100px;
}

.reviewList {
  list-style: none;
}
