.notFoundDiv {
  justify-content: center;
  height: 500px;
  text-align: center;
}

.src {
  color: rgb(92, 92, 92);
  font-size: 170px;
  margin-bottom: 0.1px;
}

.text {
  text-decoration: none;
  color: darkslategray;
  font-size: 72px;
  font-weight: bold;
}

.link {
  border: 2px solid white;
  border-radius: 40px;
  padding: 15px 25px;
  color: darkslategray;
  font-size: 28px;
  font-weight: 640;
  text-decoration: dotted;
}

.link:hover {
  font-size: 32px;
  border: 7px solid wheat;
}
